
$standard: (
/* key - valor */
text-color-standard: rgb(0, 0, 0),
bg-color-standard: rgba(255, 255, 255, 0),

font-standard: 40px,
transition: all 4s ease,
);



$premium: (
/* key - valor */
text-color-premium:#c4c4c4,
bg-color-premium:#c4c4c4,

font-standard: 40px,

transition: all 4s ease,
);

.h6 { background-color: map-get($standard,bg-color-standard)
}