/*Mapas*/
$standard:(text-color-standard: #ccc, 
bg-color-standard: #b2d6f9
font-standard:40px,
transition:all 4s ease,
)

$premium(text-color-standard: #ccc, 
bg-color-standard: #b2d6f9
font-standard:40px,
transition:all 4s ease)