$standard: (
/* key - valor */
text-color-standard: rgba(0, 0, 0, 0.8),
bg-color-standard:#eb0000,

font-standard: 40px,
transition: all 4s ease,
);



$premium: (
/* key - valor */
text-color-premium: #Cccc,
bg-color-premium:#b2d6f9,

font-standard: 40px,

transition: all 4s ease,
);

.standard { background-color: map-get($standard,bg-color-standard);}