@media only screen and (max-width: 480px) {
    .bodyy {
      background-color: #ffffff;
    }
  }
  @media only screen and (min-width: 481px) and (max-width: 968px) {
    .bodyy {
      background-color: #ffffff;
    }
  }
  @media only screen and (min-width: 969px) {
    .bodyy {
      background-color: #ffffff;
      
    }
  }