.p {
    font-family: Arial;
  }
.index1{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-family: Arial;
}
.lista{list-style-type:none}
